@import '../../../assets/styles/variables.less';

.dashboard-page {
  @media (min-width: 768px) {
    .sales-order { display: block !important; }
  }

  .sales-order {
    display: none;
    padding: 0 10px 0 40px;
    width: 300px;

    ul {
      margin-top: 20px;

      li {
        margin-top: 10px;

        span:first-child {
          background: #efefef;
          border-radius: 20px;
          color: #333;
          display: inline-block;
          font-size: 12px;
          font-weight: 700;
          height: 20px;
          line-height: 20px;
          margin-right: 20px;
          text-align: center;
          width: 20px;
        }

        span:last-child { float: right; }
      }
    }
  }
}
