@import '../../../assets/styles/variables.less';

.dashboard-page {
  .antui-panel {
    box-shadow: unset;

    &-body {
      border: unset;
    }
    &.panel-first,
    &.panel-second,
    &.panel-third,
    &.panel-four,
    &.panel-first {

      background-image: url("/images/bg-pattern.png");
      background-size: cover;
      background-position: bottom;

      .panel-content {
        padding: 1.25rem;

        .title {
          color: @grey500;
          font-size: 14px;
          font-weight: 500 !important;
          padding-top: .25rem;
          margin: 0 0 10px 0;
        }

        .sub-title {
          margin-bottom: 0!important;
          span {
            color: @grey300;
            font-size: 14px;
            font-weight: 400 !important;
            padding-top: .25rem;
            margin: 0 !important;
          }

          .percent {
            color: @blue500 !important;
            margin-right: 4px !important;
            i {
              font-size: 12px;
              vertical-align: middle;
              svg {
                width: 100%;
                height: 100%;
              }
            }

          }
        }

        .number-dashboard {
          color: @grey500 !important;
          font-size: 25px;
          font-weight: 500!important;
          position: absolute;
          right: 1.25rem;
          top: 1rem;
          margin-top: 0!important;
        }
      }
    }
  }
  @media (min-width: 768px) {
    .sales-order { display: block !important; }
  }

  .sales-order {
    display: none;
    padding: 0 10px 0 40px;
    width: 300px;

    ul {
      margin-top: 20px;

      li {
        margin-top: 10px;

        span:first-child {
          background: #efefef;
          border-radius: 20px;
          color: #333;
          display: inline-block;
          font-size: 12px;
          font-weight: 700;
          height: 20px;
          line-height: 20px;
          margin-right: 20px;
          text-align: center;
          width: 20px;
        }

        span:last-child { float: right; }
      }
    }
  }
}
