import './style/index.less';
import React, { Component } from 'react';
import PropTypes from 'prop-types';
import { Typography } from 'antd';
import intl from "react-intl-universal";
import messages from './messages';

const { Title, Paragraph } = Typography;

class {{properCase name}} extends Component {
  static propTypes = {
    className: PropTypes.string,
  };

  static defaultProps = {
    className: 'component-{{lowerCase name}}',
  };

  state = {
    text: '{{lowerCase name}}'
  };

  render() {
    const { className, } = this.props;
    const { text } = this.state;

    return (
      <Typography className={className}>
        <Title>
          {text}
        </Title>
        <Paragraph>
          {intl.formatMessage(messages.test)}
        </Paragraph>
      </Typography>
    );
  }
}

export default {{properCase name}};
